html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; }
div#header{background-color:#EEBA30;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;color:AE0001}
div#container{text-align:left}
div#content p{line-height:1.4}
div#content p{text-color:#740001}
div#content ul li:hover{background-color:#EEBA30; color:#740001}
div#navigation{background:#740001;}
div#navigation ul li:hover{background-color:#EEBA30; color:#740001}
div#navigation ul{margin:15px 0; padding:3px; list-style-type:none; color: #d3a625;}
div#navigation li{margin-bottom:5px; color:#d3a625}
div#navigation p{text-color:#eeBA30}
div#extra{background:#d3a625; text-color:#740001}
div#extra ul li:hover{background-color:#740001; color:#eeba30}
div#footer{background:#d3a625;}
div#footer p{margin:0;padding:5px 10px}
div#container{width: 95%;;margin:0 auto}
div#content{float:left;width:66%}
div#navigation{float:right;width:33%}
div#extra{float:right;clear:right;width:33%}
div#footer{clear:both;width:100%}